@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green: #117050;
    --gbar: #006341;
    --button-gray: #454545;
    --button-white: #ffffff;
    --bg: #e8e9ee;
    --footer: #333;
}


body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1140px;
    margin: auto;
}

/* Elementos Globais inicio */
.gbar {
    width: 168px;
    height: 22px;
    background-color: var(--green);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    margin: 20px 0;
}

.button {
    display: inline-block;
    border: 2px solid var(--button-gray);
    padding: 10px 30px;
    border-radius: 3px;
    color: var(--button);
    text-decoration: none;
}

.button:hover {
    background-color: var(--button-gray);
    color: var(--button-white);

}

/* Fim. */

header .line {
    background-color: var(--gbar);
    height: 10px;
}

.header--area {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0px 30px;
}

.logo img {
    width: 64px;
    height: 64px;
}

.header--right {
    display: flex;
    align-items: center;
}

.header--search form {
    display: flex;
}

.header--search input {
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 220px;
}

.header--search button {
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img {
    width: 16px;
    height: 16px;
}

.header--menu {
    margin-left: 50px;
    cursor: pointer;
}

.header--menu img {
    width: 24px;
    height: 24px;
}

.banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner--images {
    margin-top: 60px;
}

.banner--images img {
    width: 148px;
    height: 148px;
    border: 6px solid var(--green);
    border-radius: 50%;
    margin-right: 40px;
}

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--conteudo {
    padding: 80px;
}

.area1--quote {
    margin-bottom: 30px;
}

.area1--text {
    padding-bottom: 50px;
    line-height: 25px;

}

.area1--image1 {
    height: 350px;
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
}

.area1--image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
}

.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2--conteudo {
    padding: 80px;
}

.area2--text {
    padding-bottom: 50px;
    line-height: 25px;

}

.area2--image1 {
    height: 550px;
    background-image: url('../images/f4.jpg');
    background-size: cover;
    background-position: center;
}

.area2--image2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url('../images/f3.jpg');
    background-size: cover;
    background-position: center;
}

.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3--conteudo {
    padding: 250px 80px;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: left;
}

.area3--text {
    padding-bottom: 50px;
    line-height: 25px;
}

.area3--image1 {
    background-image: url('../images/f5.jpg');
    background-size: cover;
    background-position: center;
}

.area4 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--bg);
}

.area4--conteudo {
    padding: 150px 80px;
}

.area4--text {
    padding-bottom: 50px;
    line-height: 25px;
}

.area4--image1 {
    background-image: url('../images/bg3.jpg');
    background-position: left;
}

.area5 {
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}

footer {
    background-color: var(--footer);
    color: var(--button-white);
    padding: 80px;
    text-align: center;
}

/*  definindo uma area minima 769px ate a maxima 1140px */
@media (max-width:769px) and (max-width: 1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 426px) and (max-width:768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 50px;
        line-height: 50px;
    }

    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .area1 {
        grid-template-columns: 3fr 2fr;
    }

    .area2 {
        grid-template-columns: 2fr 3fr;
    }

    .area3 {
        grid-template-columns: 3fr 2fr;
    } 

    .banner--images img {
        width: 100px;
        height: 100px;
        border: 3px solid var(--green);
        border-radius: 50%;
        margin-right: 10px;
    }

    /* .area1--conteudo,
    .area2--conteudo,
    .area3--conteudo,
    .area4--conteudo {
        padding: 30px;
    } */
}

@media (max-width: 425px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 50px;
        line-height: 50px;
    }

    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .logo img {
        width: 53px;
        height: 53px;
    }

    .header--menu {
        margin-left: 20px;
    }

    .header--search {
        max-width: 165px;
    }

    .header--search input {
        font-size: 16px;
        padding: 6px 14px;
    }

    .banner--images img {
        width: 70px;
        height: 70px;
        border: 3px solid var(--green);
        border-radius: 50%;
        margin-right: 10px;
    }

    .area1,
    .area2,
    .area3,
    .area4 {
        grid-template-columns: 1fr;
    }

    .area1--conteudo,
    .area2--conteudo,
    .area3--conteudo,
    .area4--conteudo {
        padding: 40px;
    }

    .area5 {
        height: 200px;
    }

    footer {
        font-size: 12px;
        padding: 40px 20px;
    }
}